#foodList {
    max-height: 300px;
    min-height: 30px;
    cursor: pointer;
    overflow: auto;
}

#foodList a {
    color: black;
    display: block;
}

#foodList li {
    margin-bottom: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#foodList li:hover {
    background-color: #f0f0f0;
}

#selected-food {
    background-color: #D6D6D6;
}

// Animate chosen food change
 .innerAnimate {
        transition: all 1s;
        max-height: 300px;
    }

.innerAnimate.pre-animation {
        opacity:0;
        max-height: 0;
}


